{% extends "debtags-base.html" %}
{% load i18n %}

{% block title %}{% trans '403 Forbidden' %}{% endblock %}

{% block content %}

<h2>{% trans '403 Forbidden' %}</h2>

<p>{% trans "We're sorry, but the requested page is not allowed." %}</p>

{% endblock %}
