{% extends "debtags-base.html" %}

{% block content %}

<div id="intro">
    <p>This page document the data export functions of this website.</p>
</div>

<dl>
    <dt><a href="{% url "exports_stable_tags" %}">Tag database</a></dt>
    <dd>Export a Debtags database (as a text file).</dd>

    <dt><a href="{% url "exports_vocabulary_js" %}">vocabulary.js</a></dt>
    <dd>
    Export a JavaScript source which contains all the Debtags vocabulary
    information. This can be used to access facet and tag descriptions from
    JavaScript apps, through a cacheable resource.
    </dd>

    <dt><a href="{% url "exports_tagchecks_js" %}">tagchecks.js</a></dt>
    <dd>
    Export a JavaScript source which contains a function that computes comments
    on the quality of a tagset, with no interaction with the server. This is
    used by the tag editor.
    </dd>
</dl>

{% endblock %}

