{% extends "debtags-base.html" %}

{% block content %}

<div id="intro">
    <p>This page allows to post a tag patch manually.</p>
</div>

<form action="" method="POST">{% csrf_token %}
  {{form.as_p}}
  <button type="submit">Submit</button>
</form>

{% endblock %}
