{% extends "debtags-base.html" %}

{% block content %}

<div id="intro">
    <p>This page lists the report pages on the site.</p>
</div>

<dl>
    <dt><a href="{% url "report_stats" %}">Debtags statistics</a></dt>
    <dd>General realtime statistics about Debtags.</dd>

    <dt><a href="{% url "report_todo" %}">Debtags todo list</a></dt>
    <dd>List of packages that could require tagging work, most popular first.</dd>

    <dt><a href="{% url "report_recent" %}">Recent packages list</a></dt>
    <dd>List of packages, with the most recent first: tag them as they come!</dd>

    <dt><a href="{% url "report_checks_list" %}">Debtags checks</a></dt>
    <dd>Reports from all the automated checks that are run on the unreviewed tags.</dd>

    <dt><a href="{% url "report_maint_index" %}">Debtags per-maintainer reports</a></dt>
    <dd>Several reports customized for package maintainers.</dd>

    <dt><a href="{% url "report_pkginfo" name='debtags' %}">Package details</a></dd>
    <dd>A page with all known information about a package can be found at
        <tt>{% url "report_pkginfo" name='PACKAGENAME' %}</tt></dd>

    <dt><a href="{% url "report_facets" %}">Facet list</a></dd>
    <dd>List of all facets: a good starting point for browsing the Debtags
        vocabulary.</dd>

    <dt><a href="{% url "report_facet" name='role' %}">Facet details</a></dd>
    <dd>A page with all known information about a facet can be found at
        <tt>{% url "report_facet" name='FACETNAME' %}</tt></dd>

    <dt><a href="{% url "report_tag" name='role::program' %}">Tag details</a></dd>
    <dd>A page with all known information about a tag can be found at
        <tt>{% url "report_tag" name='TAGNAME' %}</tt></dd>

    <dt><a href="{% url "report_apriori_rules" %}">Autogenerated tagging rules</a></dt>
    <dd>Lists all statistically generated tagging rules.</dd>
</dl>

{% endblock %}
