{% extends "reports/base.html" %}
{% load i18n %}
{% load debtags %}

{% block title %}Package overview for {{maint.display_name}}{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1>Package overview for {{maint.display_name}}</h1>
{% include "debtags-settings.html" %}

<ul id="sources" class="list-unstyled">
{% for source, mps in sources %}
<li src="{{source}}">
<a name="{{source}}"></a>
  <h2 class="srcgroup">{{source}}</h2>

  <ul class="pkglist list-unstyled">
  {% for mp, extra in mps|dictsort:"0.pkg.name" %}
  <li pkg="{{mp.pkg.name}}" dists="{{extra.bininfo.dist|join:","}}">
    {% if mp.pkg.trivial %}
    {{mp.pkg}}
    {% else %}
    <a href='{{mp.pkg.get_absolute_url}}'>{{mp.pkg.name}}</a>
    {% endif %}
      -- {{mp.pkg.sdesc}}
    <div class='pkgtags'>
      {% for t in mp.pkg.stable_tags.all %}
      {{t|tag}}
      {% endfor %}
    </div>
    <div class="pkgsugg">
      {% for t in mp.pkg.todolist.all %}
      <div class="tip">{{t.format|safe}}</div>
      {% endfor %}
    </div>
</li>
  {% endfor %}
  </ul>
</li>
{% endfor %}
</ul>

</div>

{% endblock %}
