{% extends "debtags-base.html" %}

{% block title %}Debtags package search{% endblock %}

{% block navbar %}
{{block.super}}
<li class="nav-item">
  <a class="nav-link" href="https://wiki.debian.org/Debtags/SearchHelp">Help</a>
</li>
{% endblock %}

{% block head %}
{{block.super}}
<style type="text/css">
td.head {
    white-space: nowrap;
}

td.head span.count {
    font-weight: bold;
}

.spelling {
    cursor: pointer;
    font-weight: bold;
}

a.searchhelp {
    font-size: small;
    color: #54638c;
    text-decoration: none;
}
a.searchhelp:hover {
    text-decoration: underline;
}

#refine {
    background-color: #F5F6F7;
}
#refine li.tag {
    cursor: pointer;
}
#refine li.tag:hover {
    text-decoration: underline;
}
#refine li.tag.current .sdesc {
    font-weight: bold;
}
#refine .tagcard {
    color: gray;
}
</style>
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    $(".spelling").click(function(ev) {
        $("#id_q").val($(this).text());
        $("#search-form").submit();
    });

    $("#refine li.tag").click(function(ev) {
        var el = $(this);
        var tag = el.attr("tag");
        var wl = $("#id_wl");
        var tags = {};

        // Parse selected tags
        $.each(wl.val().split(","), function(idx, val) { if (val) tags[val] = true; });

        // Toggle this one
        if (tags[tag])
            delete tags[tag];
        else
            tags[tag] = true;

        // Set the new value
        wl.val($.map(tags, function(val, key) { return key; }).join(","));

        $("#search-form").submit();
    });

    $("#clear-tags").click(function() {
        $("#id_wl").val("");
        $("#search-form").submit();
    });
}

$(main);

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>Package search</h1>

<div class="container-flexible">
  <div class="row">
    <div class="col">
      <form method="GET" action="{% url "search_packages" %}" id="search-form">
      {{form.wl}}
      <p>
          {{form.q.label}}: {{form.q}} {{form.qf.label}}: {{form.qf}} <input type="submit">
          <a class="searchhelp" href="https://wiki.debian.org/Debtags/SearchHelp">[help]</a>
      </p>
      </form>
      {% if res.spelling and res.spelling != res.query %}
      <p>Did you mean <span class="spelling">{{res.spelling}}</span>?</p>
      {% endif %}
    </div>
  </div>

{% if res %}
  <div class="row">
    <div class="col-3">
      <div class="card" id="refine">
        <div class="card-header">Refine search</div>

        <div class="card-body">
          {% if has_sel %}
          <p class="card-text"><a id="clear-tags" href="#" class="btn btn-primary">unselect all</a></p>
          {% endif %}

          {% for facet, tags in facets %}
          <div class="card mb-3">
            <div class="card-header">{{facet.sdesc}}</div>
            <ul class="tags list-group list-group-flush">
            {% for t in tags %}
            {% if t.sel %}
            <li class="list-group-item tag current" tag="{{t.tag.name}}"><span class="sdesc">{{t.tag.sdesc}}</span> <span class="tagcard">(remove)</span></li>
            {% else %}
            <li class="list-group-item tag" tag="{{t.tag.name}}"><span class="sdesc">{{t.tag.sdesc}}</span> <span class="tagcard">({{t.w}})</span></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      </div>
    </div>

    <div class="col-9">
      <div id="search-results">
      {% if res.match_estimated == 0 %}
      {% if res.query %}
      <p><b>No results</b> for <b>{{res.query}}</b>:</p>
      {% endif %}
      {% else %}
      <p>
        {% if res.matches|length < res.match_estimated %}
        About
        {% endif %}
        <b>{{res.match_estimated}}</b> result{{res.match_estimated|pluralize}} for <b>{{res.query}}</b>:
      </p>
      {% endif %}

      <table class="table table-striped search_results">
      {% for m in res.matches %}
      <tr>
          <td class="head">
              <span class="count">{{forloop.counter}}:</span>
              <span class="perc">{{m.perc}}%</span>
          </td>
          <td>
            {% with m.pkg as pkg %}
            {% include "debtags-pkginfo.html" with class="collapsed" %}
            {% endwith %}
          </td>
      </tr>
      {% endfor %}
      </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block footer %}
{{block.super}}
<p>Powered by <a href="http://xapian.org/">Xapian</a> and <a href="http://www.enricozini.org/sw/apt-xapian-index/">apt-xapian-index</a>.</p>
{% endblock %}
