div.pkgsugg {
    margin: 0 1em 0 1em;
}

div.pkgsugg div.tip, div.pkghint div.tip {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    background-image: none;
}

/*
 * TODO: work in progress
div.pkgsugg div.check:before {
    content: "✘ ";
    color: red;
}

div.pkgsugg div.hint:before {
    content: "? ";
    color: darkred;
}

div.pkgsugg div.fix:before {
    content: "! ";
    color: darkred;
}
*/

div.pkgsugg div.tip:before {
    content: "✘ ";
    color: red;
}

div.pkghint div.tip:before {
    content: "? ";
    color: darkred;
}

div.pkginfo .thumb {
    margin: 0;
    float: left;
    margin-right: 1em;
    width: 160px;
    background-color: #F5F6F7;
    padding: 3px;
}

div.pkginfo ul {
    margin: 0;
    float: left;
    clear: left;
    margin-right: 1em;
    text-align: right;
    width: 160px;
    padding: 0px 3px;
    background-color: #F5F6F7;
}

div.pkginfo li {
    margin: 0;
    list-style: none;
    display: inline;
    white-space:nowrap;
}

.pkginfo .pkgthumb img {
    width: 160px;
    height: 120px;
}

div.pkginfo.collapsed ul {
    float: right;
    clear: none;
    background-color: #F5F6F7;
    border: 1px solid #d2d3d7;
    padding: 3px;
}
div.pkginfo.collapsed .thumb {
    width: 80px;
}
div.pkginfo.collapsed .links {
    float: right;
}
div.pkginfo.collapsed .ldesc {
    display: none;
}
div.pkginfo.collapsed .source {
    display: none;
}
div.pkginfo.collapsed .thumb img {
    width: 80px;
    height: 60px;
}

ul.patch {
    margin: 0;
    padding: 0;
}
ul.patch li {
    list-style: none;
    white-space:nowrap;
}
ul.patch li.add:before {
    content: "+";
    padding-right: 0.2em;
}
ul.patch li.del:before {
    content: "-";
    padding-right: 0.2em;
}
ul.patch li.del {
    /* text-decoration: line-through; */
}

td.plist_age {
    white-space:nowrap;
}

ul.vbox {
    margin: 0;
    padding: 0;
}
ul.vbox > li {
    list-style: none;
}

/* JQuery tablesorter common layout */
table.tablesorter th {
    cursor: pointer
}
table.tablesorter th.headerSortUp {
}
table.tablesorter th.headerSortUp:after {
    content: "▲";
}
table.tablesorter th.headerSortDown {
}
table.tablesorter th.headerSortDown:after {
    content: "▼";
}

span.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/ajax-loader.gif");
}
span.spinner.idle {
    display: none;
}
