{% extends "editor/base.html" %}
{% load i18n %}

{% block navbar %}
{{block.super}}
<li class="nav-item">
  <a class="nav-link" href="https://wiki.debian.org/Debtags/EditorHelp">Help</a>
</li>
{% endblock %}

{% block head %}
{{block.super}}
<script src="{{ STATIC_URL }}js/tagchecks.js"></script>
<script src="{{ STATIC_URL }}js/tips.js"></script>
<script src="{{ STATIC_URL }}js/editor.js"></script>

  <script type="text/javascript">
  <!--
// Initialise the tag editor with the current package information
var suggested = {{suggested_tags|safe}};
var search_tags_url = "{% url "api_tag_search" %}";

$(function() {
    var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
    var patch = new Patch();

    var patch_editor = new window.debtags.PatchEditor("#patchset", {
      pkg: "{{pkg.name}}",
      patch: patch,
      post_url: "{% url 'api_patch' %}",
      collapsed: false,
      csrf_token: csrf_token,
      initial_tags: {{tags|safe}},
    });

    $("#patchset").on("changed", (evt, data) => {
        for (const name of data.tags)
        {
            if (patch.get(name) == "+")
                $(".menu.tag[tag=\""+name+"\"]").addClass("current");
            else
                $(".menu.tag[tag=\""+name+"\"]").removeClass("current");
        }
    });

    // Render the list of suggested tags
    var suggested_tags_list = $("#suggested_tags_list");
    $.each(suggested, function(idx, el) {
        var tag_el = patch_editor.render_tag(el);
        tag_el.tooltip({
            bodyHandler: curtag_tooltip_handler,
        })
        var li = $("<li>").addClass("menu").addClass("tag").attr("tag", el).append(tag_el);
        if (tag_el.hasClass("current")) li.addClass("current");
        suggested_tags_list.append(li);
    });

    // Render the list of available tags
    var at_facets = $("#available_facets_list");
    var at_tags = $("#available_tags_list");

    // Render the available packages list
    voc.eachFacet(function(f,s,l){
        var span = $("<span>").addClass("facet")
                              .append($("<span>").addClass("name").append(f))
                              .append(": ")
                              .append($("<span>").addClass("desc").append(s));
        var li = $("<li>")
                   .attr("facet", f)
                   .append(span)
                   .click(alltags_facet_selected);

        if (f == atcurfacet)
            li.addClass("current");

        at_facets.append(li);

        voc.eachTagOfFacet(f, function(t,s,l) {
            at_tags.append($("<li>").append(patch_editor.render_tag(t)));
        });
    });
    update_available();
    show_random_tip();

    $(".pkginfo").each(function() {
        var pkginfo = $(this);
        var sdesc = $("span.sdesc", pkginfo);
        sdesc.click(function(ev) {
            pkginfo.toggleClass("collapsed");
        });
    });
})

  //-->
  </script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">
  <h1>{% trans "Debtags tag editor" %} - {{pkg.name}}</h1>
</div>

<div id="editor" class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <div class="row">
        <div class="col">
        <div id="curpackage">
          {% include "debtags-pkginfo.html" %}
        </div>
        </div>
        </div>

        <div class="row">
        <div class="col">
        <div id="taglists">
          <ul class="nav nav-tabs justify-content-end" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="alltags-tab" data-toggle="tab" href="#alltags" role="tab" aria-controls="alltags" aria-selected="true">{% trans "All tags" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="suggtags-tab" data-toggle="tab" href="#suggtags" role="tab" aria-controls="suggtags" aria-selected="false">{% trans "Suggested tags" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="reltags-tab" data-toggle="tab" href="#reltags" role="tab" aria-controls="reltags" aria-selected="false">{% trans "Search tags" %}</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane show active" id="alltags" role="tabpanel" aria-labelledby="alltags-tab">
              <div class="container-flexible">
                <div class="row">
                  <div class="col" id="alltagssearch">
                      <form name='alltags' onSubmit="return false;">
                      Filter: <input type='text' name='tagsearch' onInput='update_available();'>
                      </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col" id="alltags-facets">
                      <h2>Facets</h2>
                      <ul id="available_facets_list">
                      </ul>
                  </div>
                  <div class="col" id="alltags-tags">
                      <h2>"<span id="available_selected_facet">--</span>" tags</h2>
                      <ul id="available_tags_list">
                      </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="suggtags" role="tabpanel" aria-labelledby="suggtags-tab">
              <div id="sugginfo">
                  These tags are suggested by looking at packages with a
                  similar description.
              </div>
              <ul id="suggested_tags_list" class="taglist">
              </ul>
            </div>

            <div class="tab-pane" id="reltags" role="tabpanel" aria-labelledby="reltags-tab">
              <div class="container-fluid">
                <div class="row">
                  <div class="col">
                    <form name="relsearch" onSubmit="return false;">
                    <div id="relsearch" class="small">
                      Find tags using a <a href="http://enricozini.org/2007/debtags/axi-query-tags/">smart</a>
                      keyword search. To search by tag names, use the filter in the "all tags" view.
                      <br />
                      Query: <input id="tag_search_query" type="text" name="keys" value='' onChange="search_tags()" />
                      <input type="button" name="submit" value="Search" onClick="search_tags()" />
                    </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                  <ul id="search_tags_list" class="taglist">
                  </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div id="tagbox" class="card">
        <div class="card-body">
          <h2 class="card-title">{% trans "Current tags" %}</h2>
          <ul id="current_tag_list">
          </ul>

          <h2 class="card-title">{% trans "Changes" %}</h2>

          <div id="patchset" class="dui-patchset">
            <div class="dui-patchset-submit">
              <span class="dui-patchset-submit-label">
                <span class="dui-patchset-submit-summary small"></span>
                <span class="dui-spinner dui-idle"></span>
              </span>
              <button class="dui-patchset-submit-button">{% trans "Submit" %}</button>
            </div>
            <div class="dui-patchset-submit-messages">
              <h3>{% trans "Submission notes" %}</h3>
              <ul>
              </ul>
            </div>
            <ul class="dui-patchset-patch">
            </ul>
          </div>

          <span id="todolist">
            <h2 class="card-title">{% trans "Checks and hints" %}</h2>
          <ul>
          </ul>
          </span>
      </div>

			<div id="tipbox" class="card">
        <div class="card-body">
          <h2 class="card-title" id="tiptitle" onclick="show_random_tip()">{% trans "Tagging tip" %}</h2>
          <div id="tip" class="small">
          </div>
          <div id="tipbuttons">
            <a onClick="show_random_tip()">{% trans "New tip" %}</a>
            <a href="https://wiki.debian.org/Debtags/edit-tips">All tips</a>
          </div>
        </div>
			</div>
		</div>
  </div>
</div>
{% endblock %}
