{% extends "editor/base.html" %}

{% block title %}Debtags Editor{% endblock %}

{% block content %}
<div class="container-fluid">
  <div id="intro">
      <p>This is the Debtags tag editor: enter a package name to edit its tags.</p>
  </div>

  <div id="begin">
      <form name="begin" method="GET" action="{% url "editor_index" %}">
          Package to edit: <input type="text" name="pkg" />
          <input type="submit" value="Search" />
    </form>
  </div>
</div>
{% endblock %}
